<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>flint-processor</symbolicName>
    <version>1.2.1</version>
    <name>MERIS/AATSR Flint Processor (FUB Glint correction)</name>
    <description>
        <![CDATA[
            <p>The MERIS/AATSR Glint Processor allows for the correction of the influence of the atmosphere and the
            specularly reflected solar radiation (sun glint) on radiance spectra measured with MERIS and/or AATSR.</p>

            <p>Algorithms: R. Doerffer from GKSS Research Centre, C. Brockmann from Brockmann Consult, J. Fischer et al. from Free University of Berlin</p>
            <p>Software: M.Peters/O.Danne of Brockmann Consult</p>

            <p>Documentation:</p>

            <ul>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-flint/glint_agc_atbd.pdf">Glint Correction with MERIS (ATBD 1)</a></li>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-flint/glint_agc_atbd.pdf">Glint Correction with MERIS and AATSR (ATBD 2)</a></li>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-aatsr-flint/glint_sum.pdf">Software User Manual (SUM)</a></li>
            </ul>
    ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        Changes in 1.2.1
        <br/>
        Updated dependencies
        <br/>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <!--
        <action>
            <id>glint</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Glint Processor (MERIS/(A)ATSR) </text>
            <mnemonic/>
        </action>
        -->
        <!--
        <action>
            <id>flintProcessor</id>
            <class>org.esa.beam.glint.ui.FlintAction</class>
            <text>FLINT Processor (MERIS/(A)ATSR)...</text>
            <shortDescr>
                Flint
            </shortDescr>
            <mnemonic/>
            <helpID>flintProcessor</helpID>
            <placeAfter/>
        </action>
        -->
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/glint.hs</path>
        </helpSet>
    </extension>
</module>
