<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>glint-processor</symbolicName>
    <version>1.0-SNAPSHOT</version>
    <name>Glint Processor</name>
    <description>Glint Processor</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    
    <dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>	
	<dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <!--
        <action>
            <id>glint</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Glint Processor (MERIS/(A)ATSR) </text>
            <mnemonic/>
        </action>
        -->
        <!--
        <action>
            <id>flintProcessor</id>
            <class>org.esa.beam.glint.ui.FlintAction</class>
            <text>FLINT Processor (MERIS/(A)ATSR)...</text>
            <shortDescr>
                Flint
            </shortDescr>
            <mnemonic/>
            <helpID>flintProcessor</helpID>
            <placeAfter/>
        </action>
        -->
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/glint.hs</path>
        </helpSet>
    </extension>
</module>
